/* #chart {
    border: 1px solid black
} */

html {
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    background: linear-gradient(45deg, #B7C4CF, #FFF5E4 50%)
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}